html,
body {
    width: 100%;
    height: 100%;
}

#runTutorialButton {
    display: none;
    position: absolute;
    z-index: 20;
    top: 5%;
    left: 93%;
    border: none;
    border-radius: 50%;
}

.mantraDiv {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.7);
}

.mantraDisplay {
    width: 50%;
    height: 60%;
    top: 20%;
    left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    background-color: rgb(105, 18, 18);
    overflow-y: scroll;
}

#mantra {
    height: 40%;
    width: 60%;
}

.mantraInputDisplay {
    width: 60%;
}

#mantraInput {
    width: 80%;
}

.tutorialDiv {
    width: 100%;
    height: 100%;
    z-index: 6;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.7);
}

.tutorialDisplay {
    width: 80%;
    height: 90%;
    top: 5%;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-style: solid;
    background-color: rgb(145, 145, 145);
    overflow-y: scroll;

}

.tutorialHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 150%;
    top: 0%;
}

.tutorialVideoCaptureDiv {
    display: none;
    width: 60%;
    height: 40%;
}

/* #tutorialTitle {
    font-size: xx-large;
} */

.instructionsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#slide1Text {
    display: none;
}

#slide2Text {
    display: none;
}

#slide3Text {
    display: none;
}

#slide4Text {
    display: none;
}

#slide5Text {
    display: none;
}

.inputDisplay {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tutorialHeader {
    margin-top: 3em;
}

.tutorialHeader > * {
    margin-bottom: 8px;
    margin-top: 0;
}

.instructionsDiv {
    width: 60%;
    margin-bottom: 1em;
    font-size: 125%;
}

#tutorialVideo {
    width: 100%;
}

#tutorialImage {
    display: none;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
}

#tutorialBreathCounterDisplay {
    display: none;
}

.gameDiv {
    z-index: -1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* Column 1 */
.column1Div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
}

.topLeftSpacer {
    height: 20%;
    overflow: hidden;
}

.upgradesDiv {
    height: 55%;
    border-style: solid;
    padding: 5px;
    overflow-y: scroll;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    visibility: hidden;
}

#upgradesTitle {
    margin-top: 0.5em;
    margin-bottom: 0em;
}

#manualTitle {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

#aidDescription {
    font-size: 12px;
}

.mindfulnessStandardDisplay {
    margin-top: 0.5em;
}

#standardDescription {
    font-size: 12px;
}

#automaticTitle {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

#autoDescription {
    font-size: 12px;
}

#autoCost {
    font-size: 12px;
}

.autoBreatherProfDisplay {
    margin-top: 0.5em;
}

#autoProfDescription {
    font-size: 12px;
}

#autoProfCost {
    font-size: 12px;
}

.metricsDiv {
    overflow-y: scroll;
    height: 25%;
    border-style: solid;
    padding: 5px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    visibility: hidden;
}

#metricsTitle {
    margin-top: 0.5em;
    margin-bottom: 0em;
}

.averageDisplay {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0.5em;
    margin-top: 1em;
    font-size: 14px;
}

.lastBreathDisplay {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0.5em;
    font-size: 14px;
}

.BPBDisplay {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0.5em;
    font-size: 14px;
}

.consistencyBonusDisplay {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0.5em;
    font-size: 14px;
}

.autoBPSDisplay {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0.5em;
    font-size: 14px;
}

/* Column 2 */
.column2Div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.headingsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 20%;
    overflow: hidden;
    margin-bottom: 0.5em;
}

.breathCounts {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.breathCounts > * {
    margin-top: 0.1em;
    margin-bottom: 0em;
    font-size: larger;
}

#title {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    text-decoration: underline;
}

.videoCaptureDiv {
    height: 55%;
    border-style: solid;
    overflow: hidden;
    margin-top: 0;
}

.consoleDiv {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    justify-content: flex-end;
    overflow-y: scroll;
    height: 25%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.readout {
    color: rgba(255, 255, 255, 0.75);
    margin-top: 5px;
    letter-spacing: 0.5px;
}

/* Column 3 */
.column3Div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
}

.topRightSpacer {
    height: 20%;
    overflow: hidden;
}

.leaderboardDiv {
    height: 55%;
    border-style: solid;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    overflow-y: scroll;
    visibility: hidden;
}

#leaderboardTitle {
    margin-top: 0.5em;
    margin-bottom: 0em;
}

#userRankTitle {
    margin-bottom: 0.5em;
}

.userRankDisplay {
    visibility: hidden;
}

.topTenDiv > * {
    margin-bottom: 0.3em;
    visibility: hidden;
}

.bettingDiv {
    height: 25%;
    border-style: solid;
    padding: 5px;
    overflow-y: scroll;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    visibility: hidden;
}

#bettingTitle {
    margin-top: 0.5em;
    margin-bottom: 0em;
}

.challengeFeedDiv {
    height: 50%;
    overflow-y: scroll;
}

.inhaleExhale {
    display: flex;
    position: fixed;
    z-index: 5;
    top: 15%;
    width: 45%;
    height: 55%;
    justify-content: space-between;
    visibility: hidden;
}

.inhaleExhaleTitle {
    color: rgb(255, 45, 45);
}

#inhale {
    transform: rotate(-25deg);
    font-size: 400%;
}

#exhale {
    transform: rotate(25deg);
    font-size: 400%;
}

.plants {
    display: none;
    position: fixed;
    z-index: 3;
    width: 150px;
    height: 300px;
}

#plant1Display {
    left: 65%;
    top: 68%;
    position: fixed;
    z-index: 3;
}
#plant2Display {
    left: -5%;
    top: 68%;
    position: fixed;
    z-index: 3;
}
#plant3Display {
    left: 12%;
    top: 68%;
    position: fixed;
    z-index: 3;
}
#plant4Display {
    left: 15%;
    top: 68%;
    position: fixed;
    z-index: 3;
}
#plant5Display {
    left: 70%;
    top: 68%;
    position: fixed;
    z-index: 3;
}
#plant6Display {
    left: 72%;
    top: 68%;
    position: fixed;
    z-index: 3;
}
#plant7Display {
    left: 20%;
    top: 68%;
    position: fixed;
    z-index: 3;
}
#plant8Display {
    left: 45%;
    top: 68%;
    position: fixed;
    z-index: 3;
}
#plant9Display {
    left: 95%;
    top: 68%;
    position: fixed;
    z-index: 3;
}
#plant10Display {
    left: 60%;
    top: 68%;
    position: fixed;
    z-index: 3;
}

.mandalas {
    width: 150px;
    height: 150px;
    position: fixed;
    display: none;
    z-index: 4;
}

#mandala1Display {
    width: 10%;
    height: 10%;
    left: 15%;
    top: 3%;
    position: fixed;
    z-index: 4;
}

#mandala2Display {
    width: 10%;
    height: 10%;
    left: 65%;
    top: 3%;
    position: fixed;
    z-index: 4;
}

#mandala3Display {
    width: 10%;
    height: 10%;
    left: 25%;
    top: 50%;
    position: fixed;
    z-index: 4;
}

#mandala4Display {
    width: 10%;
    height: 10%;
    left: 85%;
    top: 15%;
    position: fixed;
    z-index: 4;
}

#mandala5Display {
    width: 10%;
    height: 10%;
    left: 90%;
    top: 60%;
    position: fixed;
    z-index: 4;
}

#mandala6Display {
    width: 10%;
    height: 10%;
    left: 70%;
    top: 45%;
    position: fixed;
    z-index: 4;
}

#mandala7Display {
    width: 10%;
    height: 10%;
    left: 20%;
    top: 60%;
    position: fixed;
    z-index: 4;
}

#mandala8Display {
    width: 10%;
    height: 10%;
    left: 18%;
    top: 4%;
    position: fixed;
    z-index: 4;
}

#mandala9Display {
    width: 10%;
    height: 10%;
    left: 45%;
    top: 20%;
    position: fixed;
    z-index: 4;
}

#mandala10Display {
    width: 10%;
    height: 10%;
    left: 30%;
    top: -5%;
    position: fixed;
    z-index: 4;
}

#mandala11Display {
    width: 10%;
    height: 10%;
    left: 5%;
    top: 15%;
    position: fixed;
    z-index: 4;
}

#mandala12Display {
    width: 10%;
    height: 10%;
    left: 70%;
    top: 15%;
    position: fixed;
    z-index: 4;
}

#mandala13Display {
    width: 10%;
    height: 10%;
    left: 90%;
    top: 10%;
    position: fixed;
    z-index: 4;
}

#mandala14Display {
    width: 10%;
    height: 10%;
    left: 0%;
    top: 5%;
    position: fixed;
    z-index: 4;
}

#mandala15Display {
    width: 10%;
    height: 10%;
    left: 75%;
    top: 5%;
    position: fixed;
    z-index: 4;
}

#mandala16Display {
    width: 10%;
    height: 10%;
    left: 50%;
    top: -10%;
    position: fixed;
    z-index: 4;
}

#mandala17Display {
    width: 10%;
    height: 10%;
    left: 40%;
    top: 15%;
    position: fixed;
    z-index: 4;
}

#mandala18Display {
    width: 10%;
    height: 10%;
    left: 60%;
    top: -5%;
    position: fixed;
    z-index: 4;
}

#mandala19Display {
    width: 10%;
    height: 10%;
    left: 80%;
    top: 0%;
    position: fixed;
    z-index: 4;
}

#mandala20Display {
    width: 10%;
    height: 10%;
    left: 25%;
    top: 5%;
    position: fixed;
    z-index: 4;
}



